
.main-container-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('bgimage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

.auth-container {
  width: 450px;
  margin: auto; 
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9; 
}

.alert {
  display: block;
  margin-top: 10px;
  padding: 10px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
